@import url('https://fonts.googleapis.com/css?family=Quicksand');

$font-stack-primary: 'Quicksand', sans-serif;
$color-primary: #b0202c;
$color-secondary: #b36321;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 5%);
$white: #fff;
$loader-gray: darken(white, 10%);

body {
    font-family: $font-stack-primary;
}

.container {
    margin-bottom: 80px;
}

nav {
    background-color: $color-primary;

    .navbar-toggler {
        border-color: $color-secondary !important;
    }
        
    .nav-link {
        color: $white !important;
    }
}

.btn {
    border-radius: 0;
    height: 38px;
    background-color: $color-secondary;
    &:hover{
        background-color: $color-secondary-light;
    }
}


@media screen and (max-width: 576px) {
    #recipeSearch {
        margin-right: 8px; 
        width: 200px;
    }
}

.recipe{
    img:hover {
        opacity: 0.7;
    }
}

i {
    color: $white !important; 
}

.form-control, .dropdown-menu {
    border-radius: 0;
}

#searchLabel{
    margin-left: 10px;
    margin-right: 10px;
    color: $white;
}

#categoriesDisplay{
   .row{
       p{
            text-align: center;
            margin-bottom: 20px;
       }
    }
}

#recipeDisplay{
    img{
        text-align: center;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-primary;
    height: 50px;

    .footer-stripe {
        background-color: $color-secondary-dark;
        height: 1em;
    }

    .footer-content{
        p{
            margin-top: 3px;
            text-align: center;
            color: $white;
        }
    }
} 

.loader {
    border: 14px solid $loader-gray;
    border-top: 14px solid $color-secondary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin-top: 50px;
    margin-top: 20px;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.slick-arrow:before{
    color: $color-secondary-dark;
}

h4 {
    margin-top: 40px;
}

.carousel{
    margin-top: 9%;

    img:hover {
        opacity: 0.7;
    }
}